.jumbotron {
    background-color: #ffbc2e;
    box-shadow: 20px 11px 9px 1px black;
    text-shadow: 5px 5px 16px black;
}

.ans {
    border-left-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-top-width: 7px;
    background-color: rgb(253, 225, 151);
}

img {
    width: 150px;
}